/*
table {
	border-style: solid;
	border-color: red;
}
*/
/*div {
	border-style: solid;
	border-color: red;
}*/

.container {
	border-style: solid;
	border-width: thin;
	background-color: #bfbfbf;
}

.row {
	display: flex;
	align-items: center;
}

.inner-row {
	display: flex;
	align-items: center;
}

.empty {
	min-width: 2%;
}


.commands {
	text-align: right;
	flex-grow: 1;
}
/*.text {
	position: relative;
	top: -20px;
	left: 30px;
}*/
