h1 {
	text-align: center
}

.center {
	text-align: center
}

/*.save-pane-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
*/

.save {
	border-color: #4CAF50;
	background-color: #4CAF50;
	padding: 4px;
}

.uri-scheme {
	font-family: courier;
	border: lightgray solid 1px;
	background-color: lightgray;
	border-radius: 10px;
	padding: 1px;
	white-space: nowrap;
}

.sep-img-with-top-pad {
	padding-top: 10px;
}